<!--ng-app is placed on the HTML page to show that it is the root DOM element. The ng-app property informs that our Document Object Model (DOM) and HTML document are also an AngularJS document. In many cases, only a single part of the HTML will be an AngularJS application-->
<html ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="index.js"></script>
</head>
    

<body ng-controller="sceneController">
    <h1>Scene Editor</h1>
<div ng-app="myApp" ng-controller="SceneController">
    <form class="editform">
        <label>Scene Number</label>
        <input type="text" name="name" ng-model="newScene.number" /><br>
        <label>Scene URL</label>
        <input type="text" name="email" ng-model="newScene.URL" /><br>
        <label>Scene Question</label>
        <input type="text" name="phone" ng-model="newScene.question" /><br>
        <label>Answer</label>
        <input type="text" name="email" ng-model="newScene.answer" /><br>
        <label>Next Scene</label>
        <input type="text" name="email" ng-model="newScene.nextscene" /><br>
        <br>
        <input type="button" value="Save" ng-click="saveScene()" class="btn btn-primary" />
        <input type="button" value="Show Updated Scenes" ng-click="getSavedScenes()" class="btn btn-primary" />
    </form>
         
<table class="table table-striped table-bordered">
<thead> 
<tr>
    <th>Scene Number</th>
    <th>Scene URL</th>
    <th>Scene Question</th>
    <th>Answer</th>
    <th>Next Scene</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="scene in scenes">
    <td>{{ scene.number }}</td>
    <td>{{ scene.URL }}</td>
    <td>{{ scene.question }}</td>
    <td>{{ scene.answer }}</td>
    <td>{{ scene.nextscene }}</td>
    <td>
        <a href="#" ng-click="editThisScene(scene.number)">edit</a>
        <a href="#" ng-click="deleteThisScene(scene.number)">delete</a>
    </td>
 </tr>
</tbody>
</table>    
</div>
</body>

</html>